<% include ../partials/header %>

<div class="container">
     <h3> <%= campground.name %></h3>
    <img src="<%= campground.image %>">
    <p> <%= campground.description  %></p>
    
    <p > <a class="btn btn-success"  href= "/campground/<%=campground._id %>/comments/new">Add New Comment</a></p>
    <h1>Comments :  </h1>
  <%   campground.comments.forEach(function(comment){ %>
        <p>
            <strong> <%= comment.author %></strong> - <%= comment.text %>
        </p>        
                
<%   }); %>
    
    
</div>




<% include ../partials/footer %>